<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csee.swplus.mileage.subitem.mapper.SubitemMapper">
    <select id="findSubitems" resultType="com.csee.swplus.mileage.subitem.dto.SubitemResponseDto">
        SELECT
        mS.id AS subitemId,
        mS.subitem_name AS subitemName,
        mC.id AS categoryId,
        mC.cname AS categoryName,
        mS.semester AS semester,
        mR.id AS recordId,
        mR.description1 AS description1,
        -- If there's no record (mR.id IS NULL), mark done as false
        CASE
        WHEN mR.id IS NOT NULL THEN TRUE
        ELSE FALSE
        END AS done,
        -- Whether this mileage record is linked to the user's portfolio
        CASE
        WHEN mR.is_linked_to_portfolio = 1 THEN TRUE
        ELSE FALSE
        END AS inPortfolio
        FROM _sw_mileage_subitem AS mS
        INNER JOIN _sw_mileage_category AS mC
        ON mS.category_id = mC.id
        LEFT JOIN _sw_mileage_record AS mR
        ON mR.subitem_id = mS.id
        AND (mR.snum = #{studentId} OR mR.snum IS NULL)  -- Ensure studentId is considered in the join
        WHERE (#{semester} = 'all' OR mS.semester = #{semester})

        <if test="keyword != null and keyword != ''">
            AND mS.subitem_name LIKE CONCAT('%', #{keyword}, '%')
        </if>

        <if test="category != 'all'">
            AND mC.cname = #{category}
        </if>

        <if test="done != 'all'">
            AND (
            (#{done} = 'Y' AND mR.id IS NOT NULL)
            OR (#{done} = 'N' AND mR.id IS NULL)
            )
        </if>

        <if test="studentId != null">
            AND mS.semester >= CONCAT('20', SUBSTRING(#{studentId}, 2, 2), '-01')
            AND mS.semester LIKE '20%'
            AND mS.semester REGEXP '^20\\d{2}-(01|02)$'
        </if>

        ORDER BY mS.regdate;
    </select>
</mapper>